body {
  background-color: #f7f7f7;
  font-family: arial;
  margin: 0px;
  display: grid;
  justify-items: center;
}

.botoes p {
  font-size: 20px;
  margin: 0px;
}

.logo {
  display: flex;
  margin-top: 48px;
  margin-bottom: 50px;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.botoes {
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.bicicleta {
  width: 550px;
}

.containerPai {
  max-width: 1000px;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.mensagem {
  display: grid;
  background-color: white;
  padding: 40px;
  text-align: right;
  align-content: center;
  justify-items: end;
}

.botao {
  text-decoration: none;
  background-color: #ee2211;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
}

.vantagens {
  display: grid;
  justify-self: end;
  width: 490px;
  margin-right: 25px;
  margin-left: 30px;
  text-align: end;
  margin-top: 50px;
  font-size: 50px;
  color: #c6c6c6;
}

.containerText {
  background-color: white;
  padding: 30px;
  width: 490px;
}

.text4 {
  display: flex;
  gap: 10px;
}

.rodape {
  background-color: white;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  margin-top: 30px;
}

.traco {
  background-color: red;
  padding: 2px 30px;
  border-radius: 50px;
  position: absolute;
  margin-left: 468px;
  margin-top: 20px;
}
