body {
  background-color: #f7f7f7;
  font-family: arial;
  margin: 0px;
  display: grid;
  justify-content: center;
}

.botoes p {
  font-size: 20px;
  margin: 0px;
}

.logo {
  display: flex;
  margin-top: 48px;
  margin-bottom: 50px;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.botoes {
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.bicicleta {
  width: 550px;
}

.containerPai {
  width: 100%;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.mensagem {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

.botao {
  display: flex;
  justify-content: end;
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: white;
  background-color: #ee2211;
  padding: 15px 15px;
  border-radius: 4px;
  width: 90px;
}

.vantagens {
  margin-right: 25px;
  margin-left: 30px;
  text-align: end;
  margin-top: 50px;
  font-size: 54px;
  color: #c6c6c6;
}

.containerText {
  background-color: white;
  padding: 30px;
  width: 490px;
}

.text4 {
  display: flex;
  gap: 10px;
}

.rodape {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.traco {
  background-color: red;
  padding: 2px 30px;
  border-radius: 50px;
  position: absolute;
  margin-left: 522px;
  margin-top: 20px;
}
